# Bonus: Temperature Analysis I

In [1]:
import pandas as pd
from datetime import datetime as dt

In [2]:
# "tobs" is "temperature observations"
df = pd.read_csv('Resources/hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [3]:
# Convert the date column format from string to datetime
#df['date'] = pd.to_datetime(df['date'], format='%Y%m%d')
df['date'] = df['date'].astype('datetime64[ns]')

In [4]:
# Set the date column as the DataFrame index
df = pd.DataFrame(df, columns = ['station','date','prcp','tobs'])
df.head()

       station       date  prcp  tobs
0  USC00519397 2010-01-01  0.08    65
1  USC00519397 2010-01-02  0.00    63
2  USC00519397 2010-01-03  0.00    74
3  USC00519397 2010-01-04  0.00    76
4  USC00519397 2010-01-06   NaN    73

In [5]:
# Drop the date column
df.set_index('date', inplace=True)
df

                station  prcp  tobs
date
2010-01-01  USC00519397  0.08    65
2010-01-02  USC00519397  0.00    63
2010-01-03  USC00519397  0.00    74
2010-01-04  USC00519397  0.00    76
2010-01-06  USC00519397   NaN    73
...                 ...   ...   ...
2017-08-19  USC00516128  0.09    71
2017-08-20  USC00516128   NaN    78
2017-08-21  USC00516128  0.56    76
2017-08-22  USC00516128  0.50    76
2017-08-23  USC00516128  0.45    76

[19550 rows x 3 columns]

### Compare June and December data across all years

In [6]:
from scipy import stats

In [7]:
# Filter data for desired months
junedata = df[df.index.month == 6]
decemberdata = df[df.index.month == 12]
print(junedata)
print(decemberdata)

                station  prcp  tobs
date
2010-06-01  USC00519397  0.00    78
2010-06-02  USC00519397  0.01    76
2010-06-03  USC00519397  0.00    78
2010-06-04  USC00519397  0.00    76
2010-06-05  USC00519397  0.00    77
...                 ...   ...   ...
2017-06-26  USC00516128  0.02    79
2017-06-27  USC00516128  0.10    74
2017-06-28  USC00516128  0.02    74
2017-06-29  USC00516128  0.04    76
2017-06-30  USC00516128  0.20    75

[1700 rows x 3 columns]
                station  prcp  tobs
date
2010-12-01  USC00519397  0.04    76
2010-12-03  USC00519397  0.00    74
2010-12-04  USC00519397  0.00    74
2010-12-06  USC00519397  0.00    64
2010-12-07  USC00519397  0.00    64
...                 ...   ...   ...
2016-12-27  USC00516128  0.14    71
2016-12-28  USC00516128  0.14    71
2016-12-29  USC00516128  1.03    69
2016-12-30  USC00516128  2.37    65
2016-12-31  USC00516128  0.90    65

[1517 rows x 3 columns]

In [8]:
# Identify the average temperature for June
junedata.mean()

C:\Users\jfraz\AppData\Local\Temp/ipykernel_208200/2994640149.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  junedata.mean()

prcp     0.136360
tobs    74.944118
dtype: float64

In [9]:
# Identify the average temperature for December
decemberdata.mean()

C:\Users\jfraz\AppData\Local\Temp/ipykernel_208200/2450723137.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  decemberdata.mean()

prcp     0.216819
tobs    71.041529
dtype: float64

In [10]:
# Create collections of temperature data
junetemps = junedata.tobs
junetemps.head()

date
2010-06-01    78
2010-06-02    76
2010-06-03    78
2010-06-04    76
2010-06-05    77
Name: tobs, dtype: int64

In [11]:
decembertemps = decemberdata.tobs
decembertemps.head()

date
2010-12-01    76
2010-12-03    74
2010-12-04    74
2010-12-06    64
2010-12-07    64
Name: tobs, dtype: int64

In [12]:
# Run paired t-test
stats.ttest_ind(junetemps,decembertemps)

Ttest_indResult(statistic=31.60372399000329, pvalue=3.9025129038616655e-191)

### Analysis

In [13]:
The larger the absolute value of the t-value, the smaller the p-value, the greater the evidence against the null hypothesis.
Use a paired t-test to compare the means of the same group. And the item under two separate scenarios. In this situation, 
Hawaii temperatures are viewed at different times of the year.
As inforamtion, an unpaired t-test compares the means of two independent or unrelated groups. 
In an unpaired t-test, the variance between groups will be assumed equal.

The null hypothesis assumes that the true mean difference between the paired samples is zero.
In this case, June temperature  differs December temperatures.

Interpreting the p value. The significance level views the probability of rejecting the null hypothesis when true.
For example, a significance level of 0.05 indicates a 5% risk of concluding that a difference exists when no actual difference exists.
Lower significance levels indicate the requirement of stronger evidence before rejecting the null hypothesis.
It can be concluded that a statistical difference between the Hawaii temperatures.

SyntaxError: invalid syntax (Temp/ipykernel_208200/2753846016.py, line 1)